.input_form, .results_table {
	max-width: 1000px;
	margin-left:auto;
	margin-right:auto;
	width:100%;
}

.input_column_left {
	width: 48%;
	float:left; /* add this */
	clear: both;
}

.input_column_right {
	float: right; /* add this */
	width: 48%;
}

.input_form input {
	width: 100%;
	clear: both;
}

.input_form select {
	width: 100%;
	clear: both;
}

.movie {
	padding-left:15px;
}

.movie_description {
	padding-left:25px;
}

.link{
	color: #000000; /* Change this with links color*/
	cursor: pointer;
	text-decoration: underline;
}
